{% extends "base1.html.twig" %}

{% block title %}
    Pie
{% endblock %}

{% block body %}

    <div class="page-heading style3 wrapper border-bottom ">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h1>Statistics</h1>
            </div>
        </div>
    </div>

    </br>


        
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-3d.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>






    <form action="{{ path('statistics_pie') }}" novalidate >




        <div class="align-center">

            <div style="width:100%;height:100px;border:1px solid #000;">
                </br>
                <div class="row">
                    <div class="col-md-3">
                        <h7>Ecofunctional group:</h7>
                        </br>
                        {{ form_widget(form.ecofunctional, { 'attr': {'class': "chzn-select1",'style': "width:200px", 'placeholder': "Ecofunctional group"} }) }}
                    </div>

                    <div class="col-md-3">
                        <h7>Establishment/Success:</h7>
                        </br>
                        {{ form_widget(form.successType, { 'attr': {'class': "chzn-select2",'style': "width:200px", 'placeholder': "Establishment/Success"} }) }}
                    </div>

                    <div class="col-md-3">
                        <h7>Origin:</h7>
                        </br>
                        {{ form_widget(form.originRegion, { 'attr': {'class': "chzn-select3",'style': "width:200px", 'placeholder': "Origin"} }) }}
                    </div>

                    <div class="col-md-3">
                        <h7>Invasive Caracteristics:</h7>
                        </br>
                        {{ form_widget(form.invasive, { 'attr': {'class': "chzn-select4",'style': "width:200px", 'placeholder': "Invasive Caracteristics"} }) }}
                    </div>

                </div>

            </div>
            </br>
            </br>
            <div style="width:100%;height:100px;border:1px solid #000;">
                </br>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <h7>Country:</h7>
                        </br>
                        {{ form_widget(form.country, { 'attr': {'class': "chzn-select5",'style': "width:200px", 'placeholder': "Country"} }) }}
                    </div>

                    <div class="col-md-2">
                    </div>
                </div>

            </div>
            </br>
            </br>

            <center>
                <div class="row">
                    <div class="col-md-4">
                    </div>

                    <div class="col-md-2"style="align-left">
                        <a href="{{ path('statistics_pie') }}"> <input type="button" class="grid-search-reset" value="{{ 'Reset'|trans }}" /></a>

                    </div>

                    <div class="col-md-2"style="align-right">
                        <a href="{{ path('statistics_pie') }}" >{{ form_widget(form.submit) }} </a>
                    </div>

                    <div class="col-md-4">
                    </div>
                </div>

            </center>




    </form>

    <script type="text/javascript">
        {% if linechart is defined %}
            {{ chart(linechart) }}
        {% endif %}
    </script>

    <div id="linechart" style="min-width: 400px; height: 400px;"></div>






    <link rel="stylesheet" href="{{ asset('web/assets/chosen/chosen.css')}}">

    <script src="{{ asset('assets/chosen/chosen.jquery.js')}}"></script>


    <script type="text/javascript">
                    $(function () {
                        $(".chzn-select1").chosen({disable_search_threshold: 10, allow_single_deselect: true});
                        ;
                        $(".chzn-select2").chosen({disable_search_threshold: 10, allow_single_deselect: true});
                        ;
                        $(".chzn-select3").chosen({disable_search_threshold: 10, allow_single_deselect: true});
                        ;
                        $(".chzn-select4").chosen({disable_search_threshold: 10, allow_single_deselect: true});
                        ;

                        $(".chzn-select5").chosen({disable_search_threshold: 10, allow_single_deselect: true});
                        ;

                    });
    </script>

    <script>



    $('.chzn-select1').val({{ ecogrp }});
        $('.chzn-select1').trigger("chosen:updated");

    $('.chzn-select2').val({{ success }});
        $('.chzn-select2').trigger("chosen:updated");

    $('.chzn-select3').val({{ origin }});
        $('.chzn-select3').trigger("chosen:updated");

    $('.chzn-select4').val({{ inv }});
        $('.chzn-select4').trigger("chosen:updated");

    $('.chzn-select5').val({{ pays }});
        $('.chzn-select5').trigger("chosen:updated");




    </script>


{% endblock %}
