{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
     <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Country</th>
        <th>MSFD</th>
        <th>Regional Sea</th>
        <th>1st Area Sighting</th>
        <th>1st Area Citation</th>
        <th>Area establishment /Sucess</th>
        <th>longitude</th>
        <th>latitude</th>
        <th>Contribution</th>
        <th>Modification date</th>
    </thead>
    {% for val in value %}
       
    <tbody>
      <tr>
        <td>{{ val.country }}</td>
        <td>{{val.regionalSea}}</td>
        <td>{{val.msfd }}</td>
        <td>{{val.firstAreaSighting}}</td>
        <td>{{ val.firstAreaCitation }}</td>
        <td>{{ val.areaSuccess }}</td>
        <td>{{ val.longitude }}</td>
        <td>{{ val.latitude }}</td>
        <td>{{val.contrebution}}</td>
        <td>{{ val.modificationDate }}</td>
      
      </tr>
      
    </tbody>
  
        
        
        {# I'm just guessing the object properties #}
        <br/>
    {% endfor %}
{% endblock %}

